@import url('https://fonts.googleapis.com/css?family=Montserrat');
$margin: 10px;

#app {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: rgb(0, 0, 0);
}
.container {
    width: -webkit-fill-available;
    height: 90vh;
    display: flex;
}
.full-width {
    width: -webkit-fill-available;
}
.full-height {
    height: -webkit-fill-available;
}
.pa {
    padding: 20px;
}
.text-red {
    color:rgb(185, 53, 53);
}
.text-black {
    color:rgb(0, 0, 0);
}
.text-grey {
    color:#76787D;
}
 /* width */
 ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #d8d9da;
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b4b3b3;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #8b8b8b;
  }