@import url('https://fonts.googleapis.com/css?family=Montserrat');
$margin: 10px;

#app {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: rgb(0, 0, 0);
}
.container {
    width: -webkit-fill-available;
    height: 90vh;
    display: flex;
}
.full-width {
    width: -webkit-fill-available;
}
.full-height {
    height: -webkit-fill-available;
}
.pa {
    padding: 20px;
}
.text-red {
    color:rgb(185, 53, 53);
}
.text-black {
    color:rgb(0, 0, 0);
}
.text-grey {
    color:#76787D;
}
.sidebar {
    // border: 1px solid black;
    border-radius: 10px 0px 0px 10px;
    width: 35%;
    color: rgb(0, 0, 0);
    background-color: #FDFDFD;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.30);
}
.userlist {
    height: 67vh;
    overflow: hidden; 
    overflow-y: auto;
}
.info-block {
    width: 75%;
    border-radius: 0px 10px 10px 0px;
    color: rgb(0, 0, 0);
    background-color: #FDFDFD;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.30);
    &-empty-label {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.card {
    display: grid;
    grid-template-columns: 60px calc(100% - 60px);
    cursor: pointer;
    margin: 5px;
    padding: 2px;
    height: 60px;
    color: rgb(0, 0, 0);
    background: #FFF;
    font-size: x-small;
    
    &-avatar {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.30);
        border-radius: 10px 0px 0px 10px;
    }
    &-block {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.30);
        border-radius: 0px 10px 10px 0px;
        &-label-top {
            position: absolute;
            top: 25%;
            left: 28%;
            transform: translateY(-25%);
          }
        &-label-bottom {
            position: absolute;
            top: 75%;
            left: 28%;
            transform: translateY(-75%);
        }
    }
}



